.test {
    padding: 30px;

    border: 2px solid black;
}



.my_sidebar {
    width: 70px;

    height: calc(100vh - 72px);

    background-color: #051E34;
    background-image: url('../img/sidebar-bg.png');
    
}

.my_main_size {
    width: calc(100% - 70px);
    height: calc(100vh - 72px);
}

.fa-magnifying-glass {
    height: 40px;
}




/* media query */
@media screen and (min-width: 992px) {
    .my_sidebar {
        width: 150px;

    }

    .my_main_size {
        width: calc(100% - 150px);
    }
}