.my_sidebar {
    width: 70px;

    height: calc(100vh - 66px);

    background-color: #051E34;
    background-image: url('../img/sidebar-bg.png');
    
}

.my_main_size {
    width: calc(100% - 70px);
    height: calc(100vh - 66px);
}

.fa-magnifying-glass {
    height: 40px;
}

.my_sidebar .fa-solid {
    width: 20px;
}

.fa-code {
    background-color: #f26551;
    width: 30px;
    height: 30px;
}

tbody tr td label {
    font-size: 11px;
    padding: 0px 7px 3px 7px ;
}

td {
    font-weight: 400;
}

td .fa-solid {
    width: 30px;
    height: 30px;
}

/* media query */
@media screen and (min-width: 992px) {
    .my_sidebar {
        width: 150px;
        height: calc(100vh - 72px);

    }

    .my_main_size {
        width: calc(100% - 150px);
        height: calc(100vh - 72px);
    }

}